* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
}

.dk-menu {
  display: none;
}

.mob-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

}
